<div class="container">
    <!-- Analog Clock Section -->
    <app-clock></app-clock>

    <h1>Welcome!</h1>

    <a routerLink="/book-recommendation" class="button books-button" id="books-button">
        <img src="/assets/images/Book.png" alt="Books">
        <span>Books</span>
    </a>
    <a routerLink="/song-recommendation" class="button music-button">
        <img src="/assets/images/Music.png" alt="Music">
        <span>Music</span>
    </a>
    <a routerLink="/writing-section" class="button writers-section-button">
        <img src="/assets/images/Letter Quill.png" alt="Writers Section">
        <span>Writers Section</span>
    </a>
</div>